@model SDRK.COPRODA.Modelo.Cliente
@{
    ViewBag.Title = "Editar Cliente";
}
@using (Html.BeginForm("ClienteEditar", "Cliente", null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    <h2>Editar Cliente</h2>
    <div class="row">
        <div class="col-md-8">
            <section id="EditarClienteForm">
                <hr />

                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.LabelFor(model => model.IdTipoCliente, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.IdTipoCliente, new SelectList(ViewBag.TipoCliente, "Value", "Text"), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IdTipoCliente, "", new { @class = "text-danger" })
                        <input type="hidden" value="@Model.IdCliente" id="IdCliente" name="IdCliente" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Nombre, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Apellido, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Apellido, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.IdTipoDocumento, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.IdTipoDocumento, new SelectList(ViewBag.TipoDocumento, "Value", "Text"), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IdTipoDocumento, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DocumentoIdentidad, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.DocumentoIdentidad, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DocumentoIdentidad, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.RazonSocial, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.RazonSocial, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RazonSocial, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.RUC, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.RUC, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RUC, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Telefono, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Telefono, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Celular, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Celular, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Celular, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.EstadoCliente, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.EstadoCliente, new SelectList(ViewBag.EstadoCliente, "Value", "Text"), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.EstadoCliente, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Modificar" class="btn btn-default" />
                        <div class="btn btn-default" onclick="history.go(-1)">Cancelar</div>
                    </div>
                </div>

            </section>
        </div>
    </div>

    <div id="divPedidoListar">
        @Html.Action("DireccionListar", "Direccion", new { IdCliente = Model.IdCliente })
    </div>
}
<div class="col-md-10">
    <div class="btn btn-default" onclick="nuevaDireccion(@Model.IdCliente)">
        Nueva Direccion
    </div>
</div>
}
<br />
<script>
    function nuevaDireccion(idCliente) {
        window.location.href = '@Url.Action("DireccionCrear", "Direccion")' + '?IdCliente=' + idCliente;
    };
</script>