@model SDRK.COPRODA.Modelo.Cliente
@{
    ViewBag.Title = "Crear Cliente";
}
<h2>Crear Cliente</h2>
<div class="row">
    <div class="col-md-8">
        @*@if (ViewBag.MensajeUsuarioCrear != "")
                {
                @Html.Raw(ViewBag.MensajeUsuarioCrear)
                @Html.Raw("a")
            }*@
        <section id="CrearClienteForm">
            <hr />
            @using (Html.BeginForm("ClienteCrear", "Cliente", null, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.LabelFor(model => model.IdTipoCliente, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.IdTipoCliente, new SelectList(ViewBag.TipoCliente, "Value", "Text"), "- Seleccionar -", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IdTipoCliente, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Nombre, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Apellido, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Apellido, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.IdTipoDocumento, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.IdTipoDocumento, new SelectList(ViewBag.TipoDocumento, "Value", "Text"), "- Seleccionar -", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IdTipoDocumento, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DocumentoIdentidad, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.DocumentoIdentidad, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DocumentoIdentidad, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.RazonSocial, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.RazonSocial, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RazonSocial, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.RUC, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.RUC, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RUC, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Telefono, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Telefono, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Celular, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Celular, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Celular, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.EstadoCliente, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.EstadoCliente, new SelectList(ViewBag.EstadoCliente, "Value", "Text"), "- Seleccionar -", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.EstadoCliente, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Registrar" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>